__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
.env
.idea/
.vscode/
*.db-journal
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/

*.db
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
/data/
